package page

import "snippetbox/ui/html"

templ Home() {
	@html.Base(html.RootLayoutData{
		Titel: "Home - Snippetbox",
	}) {
		<h2>Latest Snippets</h2>
		<p>There's nothing to see here yet!</p>
	}
}
